template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.green: .nav-wrapper
		ul.left
			li: a Beranda
			li: a Panduan
		a.brand-logo.center BAPPEDA
		ul.right
			unless currentUser
				li: a(href='/login') Login
			else
				li: a= currentUser.username
				li: a#logout Logout
	ul.fixed.side-nav
		li.grey.lighten-2: a Pilihan Urusan
		each val in menus
			li: a(href='/titik/{{val}}')= startCase(val)

template(name='home')
	h5 Beranda

template(name='titik')
	#peta
	br
	.container
		.row
			.col.m5: .input-field: select#bentuk
				option(value='') Pilih Bentuk
				each i in filter 'bentuk'
					option(value=i)= startCase(i)
			.col.m5: .input-field: select#kondisi
				option(value='') Pilih Kondisi
				each i in filter 'kondisi'
					option(value=i)= startCase(i)
			if currentUser
				.col.m2: .right.btn#add Tambah
		unless showForm
			br
			table.bordered
				thead
					tr
						each val in heads
							th= startCase(val)
						if currentUser
							th Hapus
				tbody
					each i in rows
						tr#update(data=i._id)
							each j in heads
								td {{startCase (prop i j)}}
							if currentUser
								td: a#remove(data=i._id) Hapus
		if showForm
			br
			br
			+quickForm(
				collection = coll.titik
				schema = schema
				type = formType
				id = 'formTitik'
				doc = doc
			)
		.btn#geocode Geocode
		+import

template(name='login'): .container
	h5 Login Bappeda
	form
		input.white-text(name='username' placeholder='Username')
		input.white-text(name='password' placeholder='Password' type='password')
		input.btn(type='submit' value='Masuk')

template(name='import')
	.file-field.input-field
		.btn.left
			span Impor Data
			input(type='file' name='upload')
		.file-path-wrapper
			input.file-path.wrapper(type='text')

template(name='loading'): .container
	.progress.center: .indeterminate
